{% extends 'caliza/index.html' %}
{% load static %}
{% block content %}
    <div class="row" style="margin-right: 0px;margin-left: 0px; padding: 2rem;">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continuar comprando</a>

                <br>
                <br>

                <table class="table">
                    <tr>
                        <th><h5>Productos: <strong>{{order.getCartItems}}</strong></h5></th>
                        <th><h5>Total: <strong>${{order.getCartTotal|floatformat:2}}</strong></h5></th>
                        <th>
                            <a class="btn btn-success btn-carrito-pagar" href="{% url 'checkout' %}">
                                Pagar
                            </a>
                        </th>
                    </tr>
                </table>
            </div>

            <br>

            <div class="box-element">
                <div class="cart-row">
                    <div style="flex:2;"><strong>Imagen</strong></div>
                    <div style="flex:2;"><strong>Producto</strong></div>
                    <div style="flex:2;"><strong>Precio</strong></div>
                    <div style="flex:2;"><strong>Cantidad</strong></div>
                    <div style="flex:2;"><strong>Total</strong></div>
                    <div style="flex:1;"><strong>Borrar</strong></div>
                </div>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2;">
                            <img class="row-image" src="{{item.product.imageURL}}" alt="">
                    </div>
                    <div style="flex:2;">{{item.product.name}}</div>
                    <div style="flex:2;">${{item.product.price|floatformat:2}}</div>
                    <div style="flex:2;">
                        <p class="quantity">{{item.quantity}}</p>
                        <div class="quantity">
                            <img data-product="{{item.product.id}}" data-action="add" src="{% static 'img/arrow-up.webp' %}" class="chg-quantity update-cart" alt="Flecha arriba">
                            <img data-product="{{item.product.id}}" data-action="remove" src="{% static 'img/arrow-down.webp' %}" class="chg-quantity update-cart" alt="Flecha abajo">
                        </div>
                    </div>
                    <div style="flex:2;">${{item.getTotal}}</div>
                    <div style="flex:1;">
                        <img id="cart-icon" src="{% static 'img/delete.webp' %}">
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock content %}