{% extends 'caliza/index.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form action="" id="form">
                    <div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Nombre..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
					</div>
					
					<div id="shipping-info">
						<hr>
						<p>Información de envío:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Dirección..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="Ciudad..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="Estado..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Código postal..">
						</div>
					</div>

					<hr>

					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continuar">
                </form>
            </div>

            <br>

            <div class="box-element hidden" id="payment-info">
                <small>Paypal options</small>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Volver al carrito</a>
                
                <hr>

                <h3>Resumen de compra</h3>

                <hr>

                <div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{% static 'img/placeholder.webp' %}"></div>
					<div style="flex:2"><p>Producto 1</p></div>
					<div style="flex:1"><p>$20.00</p></div>
					<div style="flex:1"><p>x2</p></div>
				</div>
				<h5>Productos:   2</h5>
				<h5>Total:   $48</h5>

            </div>
        </div>
    </div>
{% endblock content %}