{% extends 'caliza/index.html' %}
{% load static %}
{% block content %}
    <div class="row" style="margin-right: 0px;margin-left: 0px; padding: 2rem;">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form action="" id="form">
                    {% csrf_token %}
                    <div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Nombre...">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email...">
						</div>
					</div>
					
					<div id="shipping-info">
						<hr>
						<p>Información de envío:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Dirección..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="Ciudad..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="Estado..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Código postal..">
						</div>
					</div>

					<hr>

					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continuar">
                </form>
            </div>

            <br>

            <div class="box-element hidden p-4" id="payment-info">
                <small>Paypal options</small>
                <div id="paypal-button-container"></div>
                <!-- <button id="make-payment">Pagar</button> -->
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Volver al carrito</a>
                
                <hr>

                <h3>Resumen de compra</h3>

                <hr>
                {% if iterable %}
                    {% for item in items %}
                    <div class="cart-row">
                        <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                        <div style="flex:2"><p>{{item.product.name}}</p></div>
                        <div style="flex:1"><p>${{item.product.price}}</p></div>
                        <div style="flex:1"><p>{{item.quantity}}</p></div>
                    </div>
                    
                    {% endfor %}
                    <h5>Productos:   {{order.getCartItems}}</h5>
                    <h5>Total:   {{order.getCartTotal|floatformat:2}}</h5>
                    <script>
                        var total = '{{order.getCartTotal|floatformat:2}}';
                    </script>
                {% else %}
                    <div class="cart-row">
                        <div style="flex:2"><img class="row-image" src="{{items.imageURL}}"></div>
                        <div style="flex:2"><p>{{items.name}}</p></div>
                        <div style="flex:1"><p>${{items.price}}</p></div>
                        <div style="flex:1"><p>{{quantity}}</p></div>
                    </div>
                    <h5>Productos:   {{quantity}}</h5>
				    <h5>Total:   ${{total}}</h5>

                    <script>
                        var total = '{{total}}';
                    </script>
                {% endif %}
				

            </div>
        </div>
    </div>

    <script src="https://www.paypal.com/sdk/js?client-id=AbaTcp9K1UUUi1F2Z2Dwr6G1qyBVQLHjPou6TPPEEHhtFjW8swav1OQnaMg_9UMafoFNz17he1XJW9gv&currency=USD"></script>

    <script>

        //let total = '{{order.getCartTotal|floatformat:2}}';

        paypal.Buttons({

            //Crear transacción
            createOrder: function(data, actions){

                return actions.order.create({

                    purchase_units: [{

                        amount: {

                            value: parseFloat(total).toFixed(2)

                        }

                    }]

                });

            },
            //Finalizar transacción
            onApprove: function(data, actions){

                return actions.order.capture().then(function(details){

                    submitFormData();

                });
                    
            }

        }).render('#paypal-button-container');

    </script>

    <script type="text/javascript">

        let shipping = '{{order.shipping}}';

        if(shipping == 'False'){

            document.getElementById('shipping-info').innerHTML = '';

        }

        if(user != 'AnonymousUser'){

            document.getElementById('user-info').innerHTML = '';

        }

        if(shipping == 'False' && user != 'AnonymousUser'){

            //Hide entire form if user is logged in and shipping in false
            document.getElementById('form-wrapper').classList.add('hidden');

            //Show payment if logged in user wants to buy an item that does not require shipping
            document.getElementById('payment-info').classList.remove('hidden');

        }

        var form = document.getElementById('form');

        csrftoken = form.getElementsByTagName("input")[0].value;
        //console.log('New token: ', form.getElementsByTagName('input')[0].value);

        form.addEventListener('submit', function(e){

            e.preventDefault();

            console.log('Form submited');
            document.getElementById('form-button').classList.add('hidden');
            document.getElementById('payment-info').classList.remove('hidden');

        });

        /*document.getElementById('make-payment').addEventListener('click', function(e){

            submitFormData();

        });*/

        function submitFormData(){

            console.log('Payment button clicked');

            var userFormData = {
                'name': null,
                'email': null,
                'total': total,                
            }   

            var shippingInfo = {
                'address': null,
                'city': null,
                'state': null,
                'zipcode': null,               
            }

            if(shipping != 'False'){

                shippingInfo.address = form.address.value;
                shippingInfo.city = form.city.value;
                shippingInfo.state = form.state.value;
                shippingInfo.zipcode = form.zipcode.value;

            }

            if(user == 'AnonymousUser'){

                userFormData.name = form.name.value;
                userFormData.email = form.email.value;

            }

            let url = '/process_order/';

            fetch(url, {

                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({'form': userFormData, 'shipping': shippingInfo})
            })
            .then((response) => response.json())
            .then((data) => {
                console.log('Success: ', data);
                alert('Transaction completed');

                cart = {};

                document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/';

                window.location.href = "{% url 'store' %}"

            })  

        }

    </script>

{% endblock content %}
