{% extends 'caliza/index.html' %}
{% load static %}
{% block content %}
<div class="row mt-5 justify-content-md-center">
    <div class="col-4">
        <form action="#" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                <img src="{% static 'img/user.png' %}">
                </span>
                <input type="text" name="username" class="form-control" id="exampleInputUser" aria-describedby="userHelp" placeholder="Nombre de usuario">
            </div>
            <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
                <img src="{% static 'img/email.webp' %}">
            </span>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo">
            </div>
            <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
                <img src="{% static 'img/lock.webp' %}">
            </span>
            <input type="password" name="password1" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
            </div>
            <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
                <img src="{% static 'img/lock.webp' %}">
            </span>
            <input type="password" name="password2" class="form-control" id="exampleInputPassword2" placeholder="Repite tu contraseña">
            </div>
            <div class="d-grid gap-2 mx-auto">
            <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}