{% extends 'caliza/index.html' %}
{% load static %}
{% block content %}
    <div class="row" style="margin-right: 0px;margin-left: 0px; padding: 2rem;">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continuar comprando</a>
            </div>

            <br>

            <div class="box-element">
                <div class="cart-row">
                    <div style="flex:2;"><strong>Imagen</strong></div>
                    <div style="flex:2;"><strong>Producto</strong></div>
                    <div style="flex:2;"><strong>Precio</strong></div>
                    <div style="flex:2;"><strong>Añadir al carrito</strong></div>
                    <div style="flex:1;"><strong>Borrar</strong></div>
                </div>
                {% for product in products %}
                    <div class="cart-row">
                        <div style="flex:2;">
                            <img class="row-image" src="{{product.imageURL}}" alt="producto">
                        </div>
                        <div style="flex:2;">{{product.name}}</div>
                        <div style="flex:2;">${{product.price|floatformat:2}}</div>
                        <div style="flex:2;">
                            <a data-product={{product.id}} class="btn add-btn">
                                <img id="cart-icon" src="{% static 'img/shopping-cart.webp' %}">
                            </a>
                        </div>
                        <div style="flex:1;">
                            <a class="btn">
                                <img data-iteration="{{forloop.counter}}" class="delete-wish-list" data-productwishlist={{product.id}} src="{% static 'img/delete.webp' %}">
                            </a>
                        </div>
                    </div>
                    <script>
                        console.dir("{{products}}");
                        console.dir("{{product}}");    
                        console.log(typeof("{{product}}"));    
                    </script>
                {% endfor %} 

            </div>
        </div>
    </div>
{% endblock content %}