// Tamaños de Media Queries
$telefono: 576px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
//Tamaños de fuente
$f1: 1rem;
$f2: 2rem;
$f3: 3rem;
$f4: 4rem;
$f5: 5rem;
$f6: 61rem;
//Colores
$principal: #2C2C54;
$colorFondoPrincipal: #f0f0f0