@use 'base/variables' as v;
@use 'base/mixins' as m;
.fondo-principal{

    background-color: #f0f0f0;

}
.centrar-imagen-movil{

    @include m.telefono{

        margin: 0 auto;
    
    }

}
.icono-footer{

    display: inline;
}
.derechos{

    font-size: .8rem;

}